<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Filmes - Categorias</title>
</head>

<body class="p-3 mb-2 bg-dark text-white">
    <div>
        <h1>
            Filmes da categoria:
            <%= categoria.nome %>
        </h1>
    </div>
    <table class="table table-dark table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Sinopse</th>
                <th scope="col">Duração</th>
            </tr>
        </thead>
        <tbody>
            <% categoria.filmes.forEach(filme =>{ %>
                <tr>
                    <th scope="row">
                        <%= filme.id %>
                    </th>
                    <th>
                        <%= filme.nome %>
                    </th>
                    <th>
                        <%= filme.sinopse %>
                    </th>
                    <th>
                        <%= filme.duracao %>
                    </th>

                </tr>
                <% })%>
        </tbody>
    </table>
    <a href="/categoria" class="btn btn-secondary">Início</a>
</body>

</html>